In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import requests
from multiprocessing.dummy import Pool as ThreadPool
import time
import re
from bs4 import BeautifulSoup

import os

In [2]:
train_df = pd.read_csv('train_groups.csv')

In [3]:
train_df.head()

   pair_id  group_id  doc_id  target
0        1         1   15731       0
1        2         1   14829       0
2        3         1   15764       0
3        4         1   17669       0
4        5         1   14852       0

In [29]:
train_df

       pair_id  group_id  doc_id  target
0            1         1   15731       0
1            2         1   14829       0
2            3         1   15764       0
3            4         1   17669       0
4            5         1   14852       0
...        ...       ...     ...     ...
11685    11686       129   26672       0
11686    11687       129   25838       0
11687    11688       129   25703       0
11688    11689       129   27885       0
11689    11690       129   27987       0

[11690 rows x 4 columns]

In [30]:
all_fnames = os.listdir('content')

In [32]:
len(all_fnames)

28026

In [35]:
%%time
    for d_id in all_fnames:
        with open('content/' + str(d_id)) as fp, open('data_title_h16/{}.txt'.format(d_id), mode='w') as out:
            soup = BeautifulSoup(fp, 'lxml')
            print(*[re.sub('\s+', ' ', tag.text) for tag in soup.find_all(re.compile('title'))],
                  sep='\n', end='\n\n', file=out)
            print(*set( re.sub('\s+', ' ', tag.text) for tag in soup.find_all(re.compile('h[123456]'))),
                  sep='\n', end='\n\n', file=out)

CPU times: user 22min 15s, sys: 45 s, total: 23min
Wall time: 23min 24s